body {
  background-image: url('./images/login_fundo.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -45px;
}

button {
  background: content-box;
}

body::before {
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  opacity: 60%;
}